/*****************************
barra navegação horizontal 

ul {
    
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: #159cb0 url(../imgnav/fundo-horizontal.png) repeat-x; 
    float: left;

}

ul li {
    float: left;
}

ul a {
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
    background: url(../imgnav/divisor.png) repeat-y;
}

ul .primeiro a {
    background: none;
}

ul a:hover {
    color: #085662;
    background: #44cade;
}

#home #navegacao .home a, 
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a,
#contato #navegacao .contato a
{
    background-position: right bottom;
    background-color: #085662;
    color: #fff;
}

*/

/*****************************
barra navegação abas */ 

body 
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
}

ul li 
{
    float: left;
    background: url(../imgnav/aba-direita.png) no-repeat top right;
}

li a 
{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../imgnav/aba-esquerda.png) no-repeat top left;
    color: #fff;
}

li a:hover 
{
    color: #894a1f;
}

ul #atual
{
    background: url(../imgnav/aba-direita-atual.png) no-repeat top right;
}

ul #atual a 
{
    background: url(../imgnav/aba-esquerda-atual.png) no-repeat top left;
}

